<div class="container mt-5">
    <form>

        <div class="form-group">
            <input type="text" placeholder="Buscar..." name="filtrar" class="form-control" [(ngModel)]="filtroemergencias">
        </div>

    </form>



    <div class="card mt-5" *ngFor="let emergencia of emergencias | filtroEmergencias:filtroemergencias">
        <h5 class="card-header">{{ emergencia.titulo | uppercase}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{ emergencia.tipo.titulo }}</h5>
            <p class="card-text">{{ emergencia.detalles }}</p>
            <a href="#" class="btn btn-primary">{{ emergencia.fecha}}</a>
        </div>
    </div>

</div>