<!--Parte de la Navbar -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">CBMDE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="identity">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users']">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/emergencia/tipos']">Tipos Emergencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/estaciones']">Estaciones de Bomberos</a>
        </li>

      </ul>

      <ul class="navbar-nav navbar-rigth">


        <li class="nav-item dropdown" *ngIf="identity">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ identity.nombre + ' ' + identity.last_name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
          </div>
        </li>

        <li class="nav-item active" *ngIf="!identity">
          <a [routerLink]="['/login']" class="nav-link">Login</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>
  <router-outlet></router-outlet>
</div>



<!-- Footer -->
<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-8">
  <div class="container text-center">
    <small>Copyright &copy; Moises Chavez</small>
  </div>
</footer>
<!-- Footer -->